<div class="follow">
  <% if trip.followed_by?(current_user) %>
    <%= form_tag unfollow_path(trip_id: trip.id), method: :post, remote: true do %>
      <%= button_tag 'unfollow', class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <%= form_tag follow_path(trip_id: trip.id), method: :post, remote: true do %>
      <%= button_tag 'follow', class: 'btn btn-success' %>
    <% end %>
  <% end %>
</div>