<div class="panel panel-default">
	<div class="panel-heading">
		<h4><%=tip.name%></h4>
	</div>
	<div class="panel-body">
		<p><%=tip.description%></p>
	</div>
	<div class="btn-group pull-right">
		<button type="button" onclick="fak(this);" class="open-AddBookDialog btn btn-primary btn-sm" data-toggle="modal" data-target="#modal" data-id="<%=tip.id%>">
	    Add tip to my trip</button>
	</div>
</div>

