<div class="map_canvas"></div>

<%=link_to 'Add Photo', photo_new_path%>
<%=link_to 'Add Tip', tip_new_path%>
<h1>Other Users tips: Se desarrollara despues</h1>
<h1>Other Users Photos: se desarrollara despues</h1>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script src="../geocomplete/jquery.geocomplete.js"></script>
<script src="../gecomplete/logger.js"></script>
<script>
  $(function(){
    
    var options = {
      map: ".map_canvas",
      location: <%=@location.name%>
    };
    
    $("#geocomplete").geocomplete(options);
    
  });
</script>